.error-input-text{
    color:#e30000;
}

h2{
    font-size: 22px!important;
}
body{
    background-color: rgb(248, 248, 248);
    margin: 0px!important;
}
main{
    margin: 0px 0px!important;
}

@media screen and (min-width:960px){
    main{
        margin: 0px 100px!important;
    }
    
}

header{
    min-height: 50vh;
    background-position: center center;
    background-image: url('layer.png');
}